{% extends "base.html" %}
{% load static %}
{% block title %}blog titles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
	<h1>LeonCF的博客</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<ul>
			{% for blog in blogs %}
			    <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-xs-6 col-md-4">
		<h2>往期回顾</h2>
		<p>Come on!</p>
		<img width="200px" src="{% static '/images/book.jpg' %}">
	</div>
</div>
{% endblock %}